body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    padding: 0px;
    margin: 0px;
}
.section-container{
    min-height: calc(100vh - 240px);
}
section{
    margin-bottom: 140px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

#top-padding{
    width: 100%;
    height: 100px;
}

/******** HEADINGS ********/

h1,
h2 {
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 6px;
}

h2::before {
    content: '-';
    color: rgba(255, 34, 61, 1.00);
}

h2::after {
    content: '-';
    color: rgba(255, 34, 61, 1.00);
}
h3{
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 2px;
}

header{
    text-align: center;
}

.expLink{
    text-align: center;
    margin: 50px;
}
.expLink a{
    color: black;
}

p {
    max-width: 500px;
    text-align: justify;
    text-indent: 40px;
    margin: 10px auto;
}

p.description{
    font-size: 13px;
    margin-top:20px;
}

a {
    text-decoration: none;
    color: rgba(200, 34, 61, 1.00)
}

.headerPadding {
    width: 100%;
    height: 140px;
}

.navigationBox {
    z-index: 5;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100px;
    left: 50%;
    margin-left: -50%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.10);
    text-align: center;
    background-color: white;
}

.footerBox {

    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.70);

    text-align: center;
    background: #fff;
}

footer {
    font-size: 10px;
}

/******** NAVIGATION ********/
.navigationBox h1 {
    font-size: 35px;
    color: #555;
    background-color: white;
    text-transform: lowercase;
    word-spacing: 15px;
    margin: 0 auto;

    padding: 0;
}
@media (max-width: 400px){
    .navigationBox h1{
        font-size: 25px;
    }
    .navItem{
        font-size: 12px;
        width: 80px;
    }
}

nav ul {
    /* Remove bullets/padding from the list. */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    /* Display on a single line and space items */
    cursor: pointer;
    display: inline-block;
    line-height: 35px;
    width: 100px;
    margin: 4px;
    text-transform: lowercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
    border-radius: 3px;
    transition: .3s all;
}

nav ul li:hover {
    color: white;
    background-color: rgba(255, 34, 61, 1.00);
    transition: .3s all;
}

#glContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

/******** SKETCH DESCRIPTIONS ********/
.p5Box {
    position: fixed;
    width: 500px;
    bottom: 20px;
    left: 20px;

    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-left: solid 1px rgba(255, 34, 61, 1.00);
    box-shadow: 5px 5px 0px rgba(255, 32, 61, 0.50);
}

.p5Box header {
    line-height: 100%;
    text-align: center;
}


.p5Box .formattedCode {
    height: auto;
    display: none;
    overflow: hidden;
}

.p5Canvas {
    width: 700px;
    margin: auto;
}
#p5Canvas{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    z-index: -1;
}

.sourceCodeButton {
    -webkit-margin-before:0px;
    -webkit-margin-after:0px;
    
    margin-bottom: 20px;
    
    text-align: center;
    cursor: pointer;
    
    letter-spacing: 6px;
}

/******** CONNECT ********/

#connectBox {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 100px;
}

#connectBox ul {
    text-align: center;
    list-style: none;
    padding: 17px;
    margin: 0px;
}

#connectContainer {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#connectBox .iconList li {
    display: inline-block;
    margin: 2px;
}

#connectBox .iconList li img {
    width: 40px;
    height: 40px;
}

#connectBox a {
    color: black;
}

#portrait {
    float: left;
    margin: 20px;
    border: 0px solid white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.localLink {
    cursor: pointer;
}

#soundToggle {
    position: absolute;
    left: 30px;
    top: 20px;
}

.accentDiv {
    border-bottom: solid 1px rgba(255, 34, 61, 1.00);
    width: 100px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

#rayCastBG {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -2;
}